[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "rivet"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "rich>=14.2.0",
    "typer>=0.20.0",
]

[project.scripts]
rivet = "rivet.main:app"
